<header class="text-center">
  <h1 class="text-pearlBeige text-4xl pt-16 pb-3 md:text-5xl">
    Our Collection
  </h1>
  <p class="text-metallicGray md:text-[22.4px] mb-4">
    Introducing our Coffee Collection, a selection of unique coffees from
    different roast types and origins, expertly roasted in small batches and
    shipped fresh weekly.
  </p>
  <nav class="flex justify-center gap-4 mt-2">
    <button class="bg-metallicGray px-3 py-1 rounded-md text-pearlBeige"
      >All Products</button
    >

    <button class="px-3 py-1 rounded-md text-pearlBeige">Available Now</button>
  </nav>
</header>
